PORT=8787
FRONTEND_ORIGIN=https://luccasmarques.github.io
SESSION_SECRET=change-me
AUTH_USERNAME=luccas
AUTH_PASSWORD_HASH=scrypt$16384$8$1$...
AUTH_DISPLAY_NAME=Luccas
COOKIE_SECURE=true
COOKIE_SAMESITE=none
